<!DOCTYPE html>
<html lang="en">
<head>
		<title>Project 2</title>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" />
</head>
	<body>


	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            	<li role="presentation"><a href="/">Home</a></li>
            {{#if user}}
            	<li role="presentation"><a href="/friend-book/logout">Logout</a></li>
            	<li style="width:200px; padding-top:9px; text-align:center" role="presentation">Logged in as <a style="float:right; padding:0px;margin:0px;" href="/friend-book/profile">{{this.user.username}}</a></li>
            {{else}}
            	<li role="presentation"><a href="/friend-book/register">Register</a></li>
            	<li role="presentation"><a href="/friend-book/login">Login</a></li>
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">Book Face</h3>
      </div>

	  <div class="jumbotron">
	        <h1>Book Face</h1>
	  </div>

      <div class="row marketing">
        <div class="col-lg-12">
        	{{#if success}}
		        <div class="alert alert-success">{{success}}</div>
		    {{/if}}
		    {{#if request}}
		        <div class="alert alert-danger">{{request}}</div>
		    {{/if}}
		    {{#if error}}
		        <div class="alert alert-danger">{{error}}</div>
		    {{/if}}
		    {{#if existsMsg}}
		    	<div class="alert alert-danger">{{existsMsg}}</div>
		    {{/if}}
        	{{{body}}}
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2017 Book Face</p>
      </footer>

    </div> <!-- /container -->
	<script src="https://code.jquery.com/jquery-3.1.1.js"
		  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
		  crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery.js"></script>	  
	<script type="text/javascript" src="/assets/js/register.js"></script>
  <script type="text/javascript" src="/assets/js/newsfeed.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js" ></script>
	</body>
</html>
