<div class="page-header" style="margin-left: 150px;">
  <h1>Movies</h1>
  
</div>

<div class="panel panel-default">
	<div class="panel panel-body">
	<div class="input-group">
  		<span class="input-group-addon" id="movieSearch">
  			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  		</span>
  		<input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
	</div>
	</div>
</div>

<button type="button" class="btn btn-default">Search</button>

<div class="panel panel-default">
	<div class="panel-heading">
    	<h2 class="panel-title">Movies playing</h2>
    </div>

	<div class="panel-body">

		{{#each events}}

		<div class="row">
			<div class="col col-lg-9">
			    <ul>
        		<li>Movie Name: {{this.movieName}}</li>
        		<li>Show Time: {{this.movieTime}}</li>
        		<li>Location: {{this.location}}</li>
        		</ul>
             </div>

			<div class="col col-lg-3">
                <form action="/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="MovieID" value="{{this.id}}">
                    <button type="submit">I want to watch this</button>
                </form>
			</div>
		</div>

		</br>
		{{/each}}
      </div>
</div>