<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-9">
    <div class="thumbnail">
      <img src="/assets/images/hen.jpg" alt="cat" class="img-circle" width="400px" height="400px"/>
      <div class="caption">
        <h3 class="profileName">Name: {{this.userInfo.name}}</h3>
        <h2 class="profileEmail">Email: {{this.userInfo.email}}</h2>
        <h2 class="profileDescription">Description: {{this.userInfo.description}} </h2>
      </div>
      <div>
        <h1 class="wall"> {{this.userInfo.name}}'s Wall</h1>
        <div class="panel panel-default">
          <div class="panel panel-primary">...</div>
          <div class="panel-footer">Panel footer</div>
        </div>
      </div>
      </div>
    </div>

  <div class="col-sm-6 col-md-4 col-lg-9">
    {{this.userInfo.username}}'s friends:

    {{#each userFriend}}
    <ul>
      <li>user:{{this.name}}</li>
      <li>email:{{this.email}}</li>
      <li>description:{{this.description}}</li>
    </ul>
    {{/each}}
  </div>

    
</div>