test
{{this}}
{{this.userInfo.name}}
{{#each userInfo}}


	
		<li>user: {{this.name}}</li>
		<li>username: {{this.username}}</li>
		<li>email: {{this.email}}</li>
		<li>description: {{this.description}}</li>
	

{{/each}}

